body{
    font-family: 'Handlee';font-size: 16px;
    background-color: black;
}

.div_principal{
    /*
    border-style: solid;
    border-color: yellow;
    */
    overflow: hidden;
    width: 450px;
    height: 380px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.div_titulo{
    /*
    border-style: solid;
    border-color: mediumorchid;
    */
    flex: 70%;
    height: 50px;
    padding: 5px;

}

.div_image{
    /*
    border-style: solid;
    border-color: mediumorchid;
    */
    flex: 20%;
    height: 50px;
    padding: 5px;
    align-content: center;
    text-align: center;
}

.div_barra_titulo{
    /*
    border-style: solid;
    border-color: yellowgreen;
    */
    display: flex;
}

.div_content{
    /*
    border-style: solid;
    border-color:  red;
    */
    margin: 0 auto;
    display: flex;
   
}

.div_content_text {
    /*
    border-style: solid;
    border-color: blue;
    */
    width: 250px;
    height: 200px;
    overflow: visible;
    margin-right: 5px;
    display: inline-block;
    float: left;
    padding: 10px 0;
    margin-right: 10px;
    margin-left: 5px;
}

.div_content_input  {
    /*
    border-style: solid;
    border-color:  brown;
    */
    /*height: 100px;*/
    padding: 5px;
    width: 200px;
    
}

input[type=text] {
  border: none;
  border-bottom: 2px solid gray;
  font-family: 'Handlee';font-size: 16px;
}

.div_botton{
    /*
    border-style: solid;
    border-color: orange;
    */
    flex: 70%;
    align-content: center;
    text-align: center;
    
}
  .button {
  background-color: gray;
  border: none;
  color: black;
  /* padding: 5px 8px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Handlee';
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
}



