body{
    font-family: 'Handlee';font-size: 16px;
    background-color: black;
}

.div_principal{
    border-style: solid;
    border-color: yellow;
    overflow: hidden;
    white-space: nowrap;
    width: 450px;
    height: 600px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.div_titulo{
    border-style: solid;
    border-color: mediumorchid;
    flex: 70%;
    height: 50px;
    padding: 5px;

}

.div_image{
    border-style: solid;
    border-color: mediumorchid;
    flex: 20%;
    height: 50px;
    padding: 5px;
    align-content: center;
    text-align: center;
}

.div_barra_titulo{
    border-style: solid;
    border-color: yellowgreen;
    display: flex;
}

.div_content{
    border-style: solid;
    border-color:  red;
    display: flex;
   
}

.div_content_text {
    border-style: solid;
    border-color: blue;
    width: 200px;
    height: 150px;
    overflow: visible;
    margin-right: 5px;
    display: inline-block;
}

.div_content_input  {
    border-style: solid;
    border-color:  brown;
    height: 100px;
    padding: 5px;
    float: left;
}